@import url(./__item/photo-grid__item.css);
.photo-grid{
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px 16px;

}

@media screen and (max-width: 1024px) {
  .photo-grid{
    max-width: 928px;
    gap:14px;
  }

}

/* padding has to be modified for smaller screens */
