.places {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-bottom: 89px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 625px) {
  .places {
    padding: 0;
  }
}
