.place__image {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}

@media screen and (max-width: 625px) {
  .place__image {
    grid-row: 3;
    padding-bottom: 32px;
    max-width: 460px;
    margin: 0 auto;
  }
}
