@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  padding: 58px 48px 0;
}

@media screen and (max-width: 1024px) {
  .lead{
    max-width: 928px;
    padding-top: 50px;
  }

}
@media screen and (max-width: 768px) {
  .lead{
    max-width: 928px;
    padding: 50px 0px 0px;
  }

}

