.footer__links {
  list-style: none;
  display: flex;
  width: 211px;
  justify-content: space-between;
  margin: 0;
  padding:0px
}
@media screen and (max-width: 320px) {
  .footer__links{
    flex-direction: column;
    height: 136px;
    padding-bottom: 48px;
  }

}
