.intro__text_description {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 0 33px;
}

@media screen and (max-width: 768px) {
  .intro__text_description {
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 34px;
  }
}
