@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__description/intro__description.css);
@import url(./__list/intro__list.css);
@import url(./__accent/intro__accent.css);
.intro {
  color: #fff;
  max-width: 690px;
  /* margin: 92px auto; */
  padding: 92px 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 64px 16px;
  }
}
