.intro {
  color: #fff;
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 48px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 64px 16px;
  }
}
