@import url(./__title/intro__title.css);
@import url(./__text/intro__text_subtitle.css);
@import url(./__text/intro__text_description.css);
@import url(./__list/intro__list.css);
@import url(./__list/intro__list_bold.css);
.intro{
  color: #fff;
  max-width: 984px;
  margin: 92px auto;
  padding: 0px 48px;
}

@media screen and (max-width: 1024px) {
  .intro{
    max-width: 928px;
  }

}


@media screen and (max-width: 768px) {
  .intro{
    max-width: 720px;
    margin: 88px auto;
    padding: 0 24px
  }

}
@media screen and (max-width: 320px) {
  .intro{
    max-width: 288px;
    margin: 64px auto;
    padding: 0 16px
  }

}

