@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place{
  max-width: 984px;
  display: grid;
  grid-template-columns: 0.95fr 1fr;
  grid-template-rows: 2;
  column-gap: 40px;
  padding-bottom: 80px;
}
.place:last-child{
  padding-bottom: 0;
}


@media screen and (max-width: 320px) {
  .place{
    display: flex;
    flex-direction: column;
  }
}
